* { box-sizing: border-box; }

body {
  /* fondo de pantalla*/
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  /*titulo de la pagina*/
  color: #FF2D00;
  text-align: center;
  font-size: 3em;
  font-family: "sans-serif";
}
h2 {
  color: #117919;
  text-align: center;
  font-size: 2em;
}
h3 {
  color: pink;
  text-align: center;
  font-size: 1em
}

p {
  color: #ffffff;
  text-align: center;
}
